SHELL=/bin/bash
PATH=/home/ubuntu/miniconda3/envs/inception/bin:$PATH
PYTHONPATH=/home/ubuntu/inception/:$PYTHONPATH
p=/home/ubuntu/inception

### CURRENT INFERENCE INSTANCE ###

# Preliminary run before market-closes
55 16 * * 1-5 cd $p && time python3 get_store_data.py quotes >> ../cron_jobs.log
00 16 * * 1-5 cd $p && time python3 get_store_data.py summary >> ../cron_jobs.log
35 16 * * 1-5 cd $p && time python3 get_store_data.py pricing >> ../cron_jobs.log
55 16 * * 1-5 cd $p && time python3 get_store_data.py options benchmarks >> ../cron_jobs.log
55 16 * * 1-5 cd $p && time python3 get_store_data.py options sectors >> ../cron_jobs.log
59 16 * * 1-5 cd $p && time python3 equity_iv.py >> ../cron_jobs.log

# ML models, pre-close predictions
20 17 * * 1-5 cd $p && time python3 macro_TF.py predict >> ../cron_jobs.log
21 17 * * 1-5 cd $p && time python3 micro_TF.py predict >> ../cron_jobs.log
22 17 * * 1-5 cd $p && time python3 bottomup_TF.py predict >> ../cron_jobs.log
30 17 * * 1-5 cd $p && time python3 eqty_ls_portfolio.py

# Final run post-market close
55 20 * * 1-5 cd $p && time python3 get_store_data.py quotes >> ../cron_jobs.log
00 20 * * 1-5 cd $p && time python3 get_store_data.py summary >> ../cron_jobs.log
35 20 * * 1-5 cd $p && time python3 get_store_data.py pricing >> ../cron_jobs.log
55 20 * * 1-5 cd $p && time python3 get_store_data.py options benchmarks >> ../cron_jobs.log
55 20 * * 1-5 cd $p && time python3 get_store_data.py options sectors >> ../cron_jobs.log
59 20 * * 1-5 cd $p && time python3 equity_iv.py >> ../cron_jobs.log

# ML models, daily predictions
00 21 * * 1-5 cd $p && time python3 macro_TF.py predict >> ../cron_jobs.log
01 21 * * 1-5 cd $p && time python3 micro_TF.py predict >> ../cron_jobs.log
02 21 * * 1-5 cd $p && time python3 bottomup_TF.py predict >> ../cron_jobs.log


### OLD ###

# Preliminary run before market-closes
55 18 * * 1-5 cd $p && time python3 get_store_data.py quotes >> ../cron_jobs.log
00 18 * * 1-5 cd $p && time python3 get_store_data.py summary >> ../cron_jobs.l$
35 18 * * 1-5 cd $p && time python3 get_store_data.py pricing >> ../cron_jobs.l$
55 18 * * 1-5 cd $p && time python3 get_store_data.py options benchmarks >> ../$
55 18 * * 1-5 cd $p && time python3 get_store_data.py options sectors >> ../cro$
59 18 * * 1-5 cd $p && time python3 equity_iv.py >> ../cron_jobs.log

# ML models, daily predictions
00 19 * * 1-5 cd $p && time python3 macro_ML.py predict >> ../cron_jobs.log
01 19 * * 1-5 cd $p && time python3 micro_ML.py predict >> ../cron_jobs.log
02 19 * * 1-5 cd $p && time python3 fundamental_ML.py fin_data predict >> ../cr$
03 19 * * 1-5 cd $p && time python3 fundamental_ML.py key_statistics predict >>$
04 19 * * 1-5 cd $p && time python3 fundamental_ML.py eps_trend predict >> ../c$
05 19 * * 1-5 cd $p && time python3 fundamental_ML.py eps_estimates predict >> $
06 19 * * 1-5 cd $p && time python3 fundamental_ML.py day_quote predict >> ../c$

# Final run post-market close
55 21 * * 1-5 cd $p && time python3 get_store_data.py quotes >> ../cron_jobs.log
00 21 * * 1-5 cd $p && time python3 get_store_data.py summary >> ../cron_jobs.l$
35 21 * * 1-5 cd $p && time python3 get_store_data.py pricing >> ../cron_jobs.l$
55 21 * * 1-5 cd $p && time python3 get_store_data.py options benchmarks >> ../$
55 21 * * 1-5 cd $p && time python3 get_store_data.py options sectors >> ../cro$
59 21 * * 1-5 cd $p && time python3 equity_iv.py >> ../cron_jobs.log

# ML models, daily predictions
00 22 * * 1-5 cd $p && time python3 macro_ML.py predict >> ../cron_jobs.log
01 22 * * 1-5 cd $p && time python3 micro_ML.py predict >> ../cron_jobs.log
02 22 * * 1-5 cd $p && time python3 fundamental_ML.py fin_data predict >> ../cr$
03 22 * * 1-5 cd $p && time python3 fundamental_ML.py key_statistics predict >>$
04 22 * * 1-5 cd $p && time python3 fundamental_ML.py eps_trend predict >> ../c$
05 22 * * 1-5 cd $p && time python3 fundamental_ML.py eps_estimates predict >> $
06 22 * * 1-5 cd $p && time python3 fundamental_ML.py day_quote predict >> ../c$

# ML models, weekly training
00 12 * * 6 cd $p && time python3 macro_ML.py train >> ../ML_train.log
02 12 * * 6 cd $p && time python3 micro_ML.py train >> ../ML_train.log
05 12 * * 6 cd $p && time python3 fundamental_ML.py fin_data train >> ../ML_tra$
06 12 * * 6 cd $p && time python3 fundamental_ML.py key_statistics train >> ../$
07 12 * * 6 cd $p && time python3 fundamental_ML.py eps_trend train >> ../ML_tr$
08 12 * * 6 cd $p && time python3 fundamental_ML.py eps_estimates train >> ../M$
09 12 * * 6 cd $p && time python3 fundamental_ML.py day_quote train >> ../ML_tr$

# OLD

# ML models, daily predictions
40 21 * * 1-5 ./run_ML.sh macro predict >> cron_jobs.log
40 21 * * 1-5 ./run_ML.sh micro predict >> cron_jobs.log

# ML models, weekly training
00 12 * * 6 ./run_ML.sh macro train >> train_ML_macro.log
00 12 * * 6 ./run_ML.sh micro train >> train_ML_micro.log
